@import "tailwindcss";

@theme {
  --color-primary: #807bff;
  --color-secondary: #7570ff;
  --color-red: #bc3156;
  --color-green: #11907a;
}

:root {
  background-color: black;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
button {
  color: #fff;
}
