@import "tailwindcss";

@theme {
  --color-primary: #807BFF;
  --color-secondary: #7570FF;
  --color-red: #BC3156;
  --color-green: #11907A;
}

:root {
  background-color: black;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, button {
  color: #fff;
}